<% provide(:title, 'About Us') %>
<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12">
      <h1>ODTI: About Us</h1>
      <p>This is the about page for the ODTI app</h1>
    </div>
  </div>
</div>