<div class="page-header center" id="banner">
  <div class="row">
    <h1>ODTI: Online Disease Tracking Information</h1>
    <p>This is the home page for the ODTI project.</p>
    <div id='map' class='dark'></div>
    <script type='text/javascript'>
      var map = L.mapbox.map('map', 'examples.map-y7l23tes').setView([37.9, -77], 5);
    </script>
  </div>
</div>